* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;

}

.navbar .bread {
    height: 15px;
}

.navbar .logo {
    height: 18px;
}


.full {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* ------banner----------- */
@media (max-width: 576px) {
    .full {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {

        background: url("images/heading.jpg");
        color: #fff;
        height: 50vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;


    }

    .banner-title {
        position: absolute;
        font-size: 20px;
        font-weight: 600px;
        width: 200px;
        margin: 80px;

    }
}

@media (min-width: 577px) {
    .full {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {

        background: url("images/heading.jpg");
        color: #fff;
        height: 50vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;


    }

    .banner-title {
        position: absolute;
        font-size: 30px;
        font-weight: 600px;
        font-family: 'Inter', sans-serif;
        width: 350px;
        margin: 80px;

    }
}

@media (min-width: 991px) {
    .full {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {

        background: url("images/heading.jpg");
        color: #fff;
        height: 100vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;


    }

    .banner-title {
        position: absolute;
        font-size: 80px;
        font-weight: 600px;
        font-family: 'Inter', sans-serif;
        width: 842px;
        margin: 110px;

    }
}





/* <!-- ----------------industry expert--------------- --> */

@media (max-width: 576px) {
    .full2 {
        margin-top: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }

    .full2 p {
        font-size: 16px;
        font-weight: 500px;
        color: #EC2232;
        margin-bottom: 23px;
    }

    .full2 h2 {
        font-size: 20px;
        font-weight: 500px;
        width: 220px;
        line-height: 25px;
    }

    .full2 h5 {
        position: relative;
        font-size: 10px;
        font-weight: 100px;
        width: 290px;
        line-height: 15px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    /* --------count------ */
    .count {
        font-size: 70px;
        font-weight: 600px;

    }

    .whole-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .value {
        font-size: 40px;
    }

    .flex img {
        width: 20px;
        height: 20px;

    }

    .location {
        font-size: 10px;
        margin-bottom: 20px;
    }

}

@media (min-width: 577px) {
    .full2 {
        margin-top: 100px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    .full2 p {
        font-size: 20px;
        font-weight: 500px;
        color: #EC2232;
        margin-bottom: 23px;
    }

    .full2 h2 {
        font-size: 30px;
        font-weight: 500px;
        width: 300px;
        line-height: 35px;
    }

    .full2 h5 {
        position: relative;
        font-size: 10px;
        font-weight: 300px;
        width: 400px;
        line-height: 15px;
        margin-top: 10px;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    /* ---------count--------- */

    .count {
        font-size: 70px;
        font-weight: 600px;
        display: flex;
    }

    .whole-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .value {
        font-size: 50px;
    }

    .flex img {
        width: 30px;
        height: 30px;

    }

    .location {
        font-size: 15px;
        display: flex;
        width: 140px;

    }

    .vl {
        border: solid #C4C4C4;
        height: 100px;
        width: 0px;
        margin-left: 25px;
        margin-right: 24px;
    }
}

@media (min-width: 991px) {
    .full2 {
        margin-top: 160px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
    }

    .full2 p {
        font-size: 16px;
        font-weight: 500px;
        color: #EC2232;
        margin-bottom: 23px;
    }

    .full2 h2 {
        font-size: 70px;
        font-weight: 500px;
        width: 660px;
        line-height: 85px;
    }

    .full2 h5 {
        position: relative;
        font-size: 18px;
        font-weight: 300px;
        width: 430px;
        line-height: 29px;
        top: -50px;
        margin-left: 670px;
        margin-bottom: 150px;
    }


    .count {
        font-size: 70px;
        font-weight: 600px;
        display: flex;
    }

    .whole-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .value {
        font-size: 70px;
    }

    .flex img {
        width: 40px;
        height: 50px;

    }

    .location {
        font-size: 20px;
        /* width: 200px; */
    }

    .vl {
        border: solid #C4C4C4;
        height: 100px;
        width: 0px;
        margin-left: 95px;
        margin-right: 134px;
    }
}




/* <!-- ------------------------card section----------- --> */

@media (max-width: 576px) {
    .item-img {
        background: url("images/Mask\ group.png");
        color: black;
        height: 50vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;
        background-color: #F9F9F9;

    }

    .item-center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-p {
        position: absolute;
        font-size: 16px;
        font-weight: 500;
        color: #EC2232;
        margin-top: 80px;

    }

    .item-title {
        position: absolute;
        margin-top: 120px;
        font-size: 20px;
        font-weight: 500px;
        width: 300px;
        line-height: 25px;
    }


    .card-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }

    .card {
        margin-top: 300px;
        height: 470px;
        width: 345px;
        background-color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .card-img {
        height: 320px;
        width: 345px;
        margin-bottom: 43px;

    }

    .card-details {
        width: 200px;
        margin-left: 60px;
    }
}

@media (min-width: 577px) {
    .item-img {
        background: url("images/Mask\ group.png");
        color: black;
        height: 70vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;
        background-color: #F9F9F9;

    }

    .item-center {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-p {
        position: absolute;
        font-size: 16px;
        font-weight: 500px;
        color: #EC2232;
        margin-top: 100px;

    }

    .item-title {
        position: absolute;
        margin-top: 120px;
        font-size: 30px;
        font-weight: 500px;
        width: 560px;
        line-height: 35px;
    }


    .card-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 100px;
        gap: 20px;
    }

    .card {
        margin-top: 405px;
        height: 470px;
        width: 345px;
        background-color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .card-img {
        height: 320px;
        width: 345px;
        margin-bottom: 43px;

    }

    .card-details {
        width: 200px;
        margin-left: 60px;
    }
}

@media (min-width: 991px) {
    .item-img {
        background: url("images/Mask\ group.png");
        color: black;
        height: 80vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;
        background-color: #F9F9F9;

    }

    .item-center {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .item-p {
        position: absolute;
        font-size: 16px;
        font-weight: 500;
        color: #EC2232;
        margin-top: 150px;

    }

    .item-title {
        position: absolute;
        margin-top: 190px;
        font-size: 50px;
        font-weight: 500;
        width: 660px;
        line-height: 55px;
    }


    .card-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: 100px;
        gap: 20px;
    }

    .card {
        margin-top: 405px;
        height: 470px;
        width: 345px;
        background-color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }

    .card-img {
        height: 320px;
        width: 345px;
        margin-bottom: 43px;

    }

    .card-details {
        width: 200px;
        margin-left: 60px;
    }
}




/* <!-- ----------------industry we serve---------------- --> */


@media (max-width: 576px) {
    .industry {
        margin-top: 160px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .industry-title {
        font-size: 30px;
        font-weight: 600px;
    }

    .industry-img {
        margin-top: 10px;
        height: 30px;
        width: 30px;

    }

    .industry-p {
        color: #9198A0;
        font-size: 12px;
        font-weight: 300px;
        margin-left: 40px;
    }

    .industry-flex {
        display: flex;
        margin-bottom: 50px;

    }

    .grid {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .industry-content {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
    }

    .industry-detail {
        font-size: 10px;
        font-weight: 300px;
        width: 200px;
        margin-left: 10px;
    }
}

@media (min-width: 577px) {
    .industry {
        margin-top: 160px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .industry-title {
        font-size: 40px;
        font-weight: 600px;
    }

    .industry-img {
        margin-top: 10px;
        height: 45px;
        width: 46px;
    }

    .industry-p {
        color: #9198A0;
        font-size: 25px;
        font-weight: 300px;
        margin-left: 50px;
    }

    .industry-flex {
        display: flex;
        margin-bottom: 50px;

    }

    .grid {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .industry-content {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
    }

    .industry-detail {
        font-size: 10px;
        font-weight: 300px;
        width: 200px;
        margin-left: 10px;
    }
}

@media (min-width: 991px) {
    .industry {
        margin-top: 460px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .industry-title {
        font-size: 50px;
        font-weight: 600px;
    }

    .industry-img {
        margin-top: 10px;
        height: 45px;
        width: 46px;
    }

    .industry-p {
        color: #9198A0;
        font-size: 25px;
        font-weight: 300px;
        margin-left: 50px;
    }

    .industry-flex {
        display: flex;
        gap: 10px;
        margin-right: 150px;
        margin-bottom: 190px;
    }

    .grid {
        margin-top: 110px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .industry-content {
        font-size: 30px;
        font-weight: 600;
    }

    .industry-detail {
        font-size: 18px;
        font-weight: 300px;
        width: 416px;
    }
}





/* <!-- ----------------------- midbanner------------------ --> */

@media (max-width: 576px) {
    .midbanner {
        background: url("images/midsection.png");
        color: #fff;
        height: 50vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;
    }

    .mid-banner-infos {
        position: absolute;
        margin-top: 60px;
        margin-left: 50px;
    }

    .customer-approach {
        position: absolute;

    }

    .midbanner-title {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 500px;
        width: 300px;
    }

    .midbanner-details {
        margin-top: 20px;
        width: 300px;
    }

    .mid-banner-flex {
        display: flex;
        gap: 10px;
        margin-top: 100px;
    }


    .mid-banner-img {
        width: 30px;
        height: 30px;
    }


    .mid-banner-p {
        font-size: 10px;
        width: 90px;
    }

    .mid-banner-h3 {
        margin-top: 5px;
        font-size: 12px;
    }

}

@media (min-width: 577px) {
    .midbanner {
        background: url("images/midsection.png");
        color: #fff;
        height: 60vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;
    }

    .mid-banner-infos {
        position: absolute;
        margin-top: 100px;
        margin-left: 50px;
    }

    .customer-approach {
        position: absolute;

    }

    .midbanner-title {
        margin-top: 30px;
        font-size: 40px;
        font-weight: 500px;
        width: 420px;
    }

    .midbanner-details {
        margin-top: 20px;
        width: 550px;
    }

    .mid-banner-flex {
        display: flex;
        gap: 100px;
        margin-top: 100px;
    }


    .mid-banner-img {
        width: 60px;
        height: 50px;
    }

    .mid-banner-h3 {
        margin-top: 10px;
        font-size: 12px;
    }
}

@media (min-width: 991px) {
    .midbanner {
        background: url("images/midsection.png");
        color: #fff;
        height: 100vh;
        margin-top: 20px;
        background-size: cover;
        width: 100%;
    }

    .mid-banner-infos {
        position: absolute;
        margin-top: 200px;
        margin-left: 350px;
    }

    .customer-approach {
        position: absolute;

    }

    .midbanner-title {
        margin-top: 33px;
        font-size: 70px;
        font-weight: 500px;
        width: 550px;
    }

    .midbanner-details {
        margin-top: 20px;
        width: 550px;
    }

    .mid-banner-flex {
        display: flex;
        gap: 100px;
        margin-top: 100px;
    }


    .mid-banner-img {
        width: 60px;
        height: 50px;
    }
}



/* <!-- ---------------sponsors------------- --> */

@media (max-width: 576px) {
    .sponsor {
        margin-top: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor-p {
        text-align: center;
        color: #E82232;
        font-weight: 500px;
        font-size: 25px;
    }

    .sponsor-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsor-img {
        width: 100px;
        height: 30px;
        margin-bottom: 50px;
    }
}

@media (min-width: 577px) {
    .sponsor {
        margin-top: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor-p {
        text-align: center;
        color: #E82232;
        font-weight: 500px;
        font-size: 25px;
    }

    .sponsor-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .sponsor-img {
        width: 100px;
        height: 30px;
        margin-bottom: 50px;
    }
}

@media (min-width: 991px) {
    .sponsor {
        margin-top: 200px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor-p {
        text-align: center;
        color: #E82232;
        font-weight: 500px;
        font-size: 25px;
    }

    .sponsor-grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .sponsor-img {
        width: 150px;
        height: 30px;
        margin-bottom: 50px;
    }
}




/* < !-- ---------------contact form------------- --> */
@media (max-width: 576px) {


    .contact-flex {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .get-in-touch {
        background-color: #0E3466;
        height: 550px;
    }

    .contact-grid {
        margin-top: 180px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }



    .contact-img {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
        height: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 577px) {


    .contact-flex {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .get-in-touch {
        background-color: #0E3466;
        height: 550px;
    }

    .contact-grid {
        margin-top: 180px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }



    .contact-img {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
        height: 600px;
        width: 100%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media (min-width: 991px) {

    .contact-grid {
        margin-top: 180px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .get-in-touch {
        background-color: #0E3466;
        height: 700px;
    }

    .contact-flex {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-img {
        position: absolute;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
        height: 600px;
        /* width: 870px; */
        width: 55%;
        margin-top: 65px;
        right: 80px;
    }
}








.contact-title {
    font-weight: 500px;
    font-size: 45px;
    color: white;
    margin-bottom: 20px;

}

.hr {
    border: solid #ffffff;
    height: 0px;
    width: 185px;
    margin-bottom: 55px;

}

.input1 {
    border: 0px;
    border-radius: 8px;
    background-color: white !important;
    height: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 35px;
    background: url("Images/icons/i1.png") no-repeat scroll 7px 7px;


}

.input2 {
    border: 0px;
    border-radius: 8px;
    background-color: white !important;
    height: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 35px;
    background: url("Images/icons/i2.png") no-repeat scroll 7px 7px;


}

.input3 {
    border: 0px;
    border-radius: 8px;
    background-color: white !important;
    height: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 35px;
    background: url("Images/icons/i3.png") no-repeat scroll 7px 7px;


}

.input4 {
    border: 0px;
    border-radius: 8px;
    background-color: white !important;
    height: 80px;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 35px;
    padding-top: 4px;
    background: url("Images/icons/i4.png") no-repeat scroll 7px 7px;
}

.btn {
    background-color: #EC2232;
    border-radius: 40px;
    width: 40%;
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;

}

.contact-map {
    background-color: #F8F8F8;
}



/* < !-- ---------footer----------- --> */


@media (max-width: 576px) {

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .f-3-flex {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 30px;

    }


}

@media (min-width: 577px) {

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .vl2 {
        border: solid #C4C4C4;
        height: 130px;
        width: 0px;
        margin-left: 15px;
        margin-right: 14px;
    }

    .f-3-flex {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 30px;

    }
}

@media (min-width: 991px) {

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .vl2 {
        border: solid #C4C4C4;
        height: 130px;
        width: 0px;
        margin-left: 95px;
        margin-right: 134px;
    }

    .f-3-flex {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;

    }
}



footer {
    background-color: #181818;
    color: white;
    padding: 70px;
}


.f1-flex {
    display: flex;

}

.about {
    font-size: 25px;
    font-weight: 500px;
    margin-bottom: 20px;

}

.ind {
    margin-bottom: 10px;
}

.f2-flex {
    display: flex;

}



.list {
    /* margin-right: 16px; */
}

.list li {
    font-weight: 300px;
    text-align: 22px;
    line-height: 28px;
    width: 180px;
}

.list2 li {
    font-weight: 300px;
    text-align: 22px;
    line-height: 28px;
    width: 100px;
}






.f3-p {
    margin-bottom: 15px;
}